{% extends 'base.html' %}
{%load static%}
{% block content %}








   
        <span
            class="flex justify-center mt-5 items-center mt-5 mb-10 text-4xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
            Diseases and Conditions
        </span>
        <div class="flex justify-evenly items-center mt-5 gap-2">

            {%if diseases_list %}
            {% for disease in diseases_list %}

            <a href="/disease/{{disease.id}}"
                class="flex flex-col flex-auto items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                    src="/uploads/{{disease.display_image}}" alt="">
                <div class="flex flex-col w-full justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{disease.name}}
                    </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{disease.short_description}}</p>
                </div>
            </a>


            {% endfor %}
            {% else %}

            <span
                class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                    src="{%static 'homepage/default.jpg'%}" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">No entry.</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Please visit later. We are uploading
                        contents. Thankyou.</p>
                </div>
            </span>


            {%endif%}
        </div>




  
        <span
            class="flex justify-center items-center mt-10 mb-10 text-4xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
            Hospitals and Specilization
        </span>
        <div class="flex justify-evenly items-center mt-5 gap-2">

            {%if hospitals_list %}
            {% for hospital in hospitals_list %}

            <a href="/hospital/{{hospital.id}}"
                class="flex flex-col flex-auto items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                    src="/uploads/{{hospital.display_image}}" alt="">
                <div class="flex flex-col w-full justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{hospital.name}}
                    </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{hospital.short_description}}</p>
                </div>
            </a>


            {% endfor %}
            {% else %}

            <span
                class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                    src="{%static 'homepage/default.jpg'%}" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">No entry.</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Please visit later. We are uploading
                        contents. Thankyou.</p>
                </div>
            </span>


            {%endif%}
        </div>
 
{% endblock %}
